
<html>
    <head><title>Log In</title>
        <%= stylesheet_link_tag('signup.css') %>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <%= javascript_include_tag "login.js" %>
        <div class="w3-bar">
            <input type="button" class="logo">
        </div>

        <div class="login">
            <br>
            <span class="text1">
                Log in
            </span>
            <br>
            <br>
            <form action="/login" method="post" id="users" name="login" onsubmit="return message()">
                <input name="authenticity_token" type="hidden" value="NNb6+J/j46LcrgYUC60wQ2titMuJQ5lLqyAbnbAUkdo="/>
                <input type="email" id="name" name="session[email]" placeholder="E-mail" size="30" maxlength="30" required autofocus>
                <br>
                <br>
                <input type="password" id="password" name="session[password]" placeholder="Password" size="30" maxlength="30"required autofocus>
                <br>
                <br>
                <input type="checkbox" id="remember" name="remember" paceholder="Remember Me">
                <label for="remember"> Remember me</label>
                <br>
                <br>
                <input type="submit" id="login" name="loginButton" value="Log In" required>
                <br>
            </form>
            <br>
            🗝️<a href='/forgotten_psw'>Forgot your password?</a> 
            <br> <br>
            <div class='noaccount'> Don't have an account? </div>
            <a href="/signup">Sign Up</a>
            <br>
            <br>
            <br>
        </div>
        <br>
        <br>
        
        <div class="w3-footer_bar">
        <div id="social_sez" class="social_sez" text-align="center">
          <h5>Follow us on:</h5>
            <a href="https://www.facebook.com/Smart-Wandering-106566171072452/" class="fa fa-facebook"></a>
            <a href="https://www.instagram.com/smartwanderinginrome/?hl=it" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-youtube-play"></a>
        </div>
  
        <div class="logo_sez" align="left">
          <img id="foto_logo_sez" src="../Images/sapienza.png" alt="logo sapienza">
        </div>
        <div class="developers">
          <a href="aboutus" class="footer_element" style="margin-left: 30px;"> About Us</a>
        </div>       
      </div>
    </body>
</html>