<!DOCTYPE html>
<html>
    <head>
        <title>About Us</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" >
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src='https://code.jquery.com/jquery-3.1.0.min.js'></script>
        <%= stylesheet_link_tag('aboutUs.css') %>

        <script>
            var logged = <%= user_signed_in? %>
        </script>

    </head>
    <body>
        <div class="w3-bar" id='upperBar'>
            <div class="element">
                <div id='account' class ="account">Account <img src="../Images/Microsoft_Account.svg.png" width="40" height="40">       
                    <div class="dropdown-content">
                        <a href="/edit"> Edit Account </a>
                        <a href="/change_psw"> Edit Password</a>
                    </div>  
                </div>
            </div>     
            <a> <input type="button" class="logo" id='btnHome'> </a>
                    
            <div id='menu' class="menu">
                <a href="/visit/new" class="element">Start visit or come back to your tour! 🗺️ </a>
                <a href ="/find" class="element" >Look for an artwork 🔎</a>
                <a href ="/addAnArtworl" class="element">Add an artwork 🖼️</a>
            </div>
        </div>
    
        <br> <br>

        <div class ="About">
            About us 
        </div>
            <br>
        <div class='paragraph'>
            Hi! We are a group of three Computer Engineering students of 'La Sapienza' university in Rome. </br>
            Our site's basic idea is to make the Rome's visits easier to organize </br>
            so that you can admire the beauty of the city in its entirety. <br>
            smART Wandering is a site that allows users to receive suggestions regarding the artworks
            to visit in the city of Rome, <br>
            according to their preferences.
        </div> 

        <div class="w3-footer_bar">
            <div id="social_sez" class="social_sez" text-align="center">
              <h5>Follow us on:</h5>
                <a href="https://www.facebook.com/Smart-Wandering-106566171072452/" class="fa fa-facebook"></a>
                <a href="https://www.instagram.com/smartwanderinginrome/?hl=it" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-youtube-play"></a>
            </div>
      
            <div class="logo_sez" align="left">
              <img id="foto_logo_sez" src="../Images/sapienza.png" alt="logo sapienza">
            </div>
            <div id='dev' class="developers">
              <a href="/contact_us" id='fe1' class="footer_element" style="margin-left: 30px;">Contact Us</a>
            </div>       
          </div>


          <script>
            $('#btnHome').click(function() {
                if(logged)     window.location.replace('/welcomeHomepage')
                else           window.location.replace('/homepage') 
            })

            if (!logged)    document.getElementById('dev').style.visibility = "hidden"
            document.getElementById("menu").style.visibility = "hidden"
            document.getElementById('account').style.visibility = "hidden"
          </script>
    </body>