!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700" rel="stylesheet">

        <%= stylesheet_link_tag ('contact_us.css') %>
        <title>Contact Us</title>

        <script>
            var logged = <%= user_signed_in? %>
        </script>

    </head>
    <body>
        <!-- menu bar -->
        <div class="w3-bar">
            <div class="element">
                <div class ="account">Account <img src="../Images/Microsoft_Account.svg.png" width="40" height="40">       
                    <div class="dropdown-content">
                        <a href="/edit"> Edit Account </a>
                        <a href="/change_psw"> Edit Password</a>
                    </div>  
                </div>
            </div>     
            <a> <input type="button" class="logo" id='btnHome'> </a>
                    
            <div class="menu">
                <a href="/visit/new" class="element">Start visit or come back to your tour! 🗺️ </a>
                <a href ="/find" class="element" >Look for an artwork 🔎</a>
                <a href ="/addAnArtwork" class="element">Add an artwork 🖼️</a>
            </div>
        </div>
        <br>
        <br>

        <div class='container'>
            <div class='div_text'>
                Contact Us
            </div>
            <div class="text2">
                Hi, do you need information or do you want to contact us? <br>
                You can write to us by filling out the form or send us an email at <br>
                <p>smartwanderinginrome@gmail.com</p>
            </div>
        <textarea class="area" id="contact_area" rows="13" cols="50" placeholder=" ✏️  type your message here..."></textarea><br>
        <button type='button' class='button' value='Submit'>Submit</button>
        </div>

        <!-- footer bar -->
        <div class="w3-footer_bar">
            <div id="social_sez" class="social_sez" text-align="center">
              <h5>Follow us on:</h5>
                <a href="https://www.facebook.com/Smart-Wandering-106566171072452/" class="fa fa-facebook"></a>
                <a href="https://www.instagram.com/smartwanderinginrome/?hl=it" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-youtube-play"></a>
            </div>
      
            <div class="logo_sez" align="left">
              <img id="foto_logo_sez" src="../Images/sapienza.png" alt="logo sapienza">
            </div>
            <div id='dev' class="developers">
              <a href="/aboutus" id='fe1' class="footer_element" style="margin-left: 30px;">About Us</a>
            </div>       
          </div>

        <!-- Jquery CDN Link -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <script type="text/javascript">
	
            $(document).ready(function(){
                $(".button").click(function(){

                var message = $('#contact_area').val()
                if (message == '') {
                    alert ('Insert a message to send!')
                    return;
                }
                $.ajax ({
                    method: "POST",
                    url: "/contact_us_email",
                    data: { "message" : message } 
                }).done(function(result) {
                    alert(result)
                })
            })

            
            $('#btnHome').click(function() {
                if(logged)     window.location.replace('/welcomeHomepage')
                else           window.location.replace('/homepage') 
            })
        });
            
        </script>

    </body>
</html>