<!doctype html>
<html>
    <head>
        <title>Forgotten password</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <%= stylesheet_link_tag('forgotten_psw.css') %>
    </head>
    
    <body>
        <div class="w3-bar">
            <input type="button" class="logo" onclick="location.href='../HomePage/homePage.html'">
        </div>
        <div class="container" align="center">
            <br>
            <div class="text"> 
                Login problems? <br>
                🔐
            </div>
            <form id="users">
                <br>
                Enter the email address <br>
                you provided when you signed in <br>
                to recover your password.
                <br>
                <br>
                <input id='email' type='text' placeholder="Insert your e-mail" size="30" maxlength="30" required autofocus>
                <br>
                <br>
                <input id="send" type="button" name="send" value="Send">
            </form>
            <br>
            <br>
        </div>

        <div class="w3-footer_bar">
            <div id="social_sez" class="social_sez" text-align="center">
              <h5>Follow us on:</h5>
                <a href="https://www.facebook.com/Smart-Wandering-106566171072452/" class="fa fa-facebook"></a>
                <a href="https://www.instagram.com/smartwanderinginrome/?hl=it" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-youtube-play"></a>
            </div>
      
            <div class="logo_sez" align="left">
              <img id="foto_logo_sez" src="../Images/sapienza.png" alt="logo sapienza">
            </div>
            <div class="developers">
              <a href="../AboutUs/aboutUs.php" class="footer_element" style="margin-left: 30px;">About Us</a>
            </div>       
          </div>

            <script>
                $("#send").click(function(){
                    var email = $('#email').val()
                    if (email == '')  {
                        alert('Empty email!')
                        return false
                    }
                    $.ajax ({
                        method: "POST",
                        url: "/I_got_forgotten!",
                        data: { "email" : email } 
                    }).done(function(result) {
                        alert(result)
                    })
                })
            </script>
    </body>
</html>
    