<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Hello <%= @name %> </h1>
    <h2> You are correctly registered in smARTWandering! Next time you login please change your password in the 'Edit Account' section and complete your account informations using the password below: </h2>
    <h3> <%= @password_sent %> </h3>
    <h4> If you have any comments or questions you can contact us directely on our website in the
        'Contact us' section or by writing at smartwanderinginrome@gmail.com </h4> 
  </body>
</html>