html, body {
    font-family: "Avenir", sans-serif;
}
body {
    background-image: url("../Images/Logo_smArt_Home.jpg");
    background-repeat: no-repeat; 
    background-attachment: fixed;
}
.w3-bar {
    text-align: center;
    background-color:#04001b;
    width: 100%;
    height: 80px;
    position: fixed;
    font-size: 18px;
    font-family: "Avenir", sans-serif;
    z-index: 30;;
}
.menu{
  margin-top: 22.5px;
}
.element{
    color:white;
    text-decoration:none; 
    font-size: 18px;
    font-family: "Avenir", sans-serif;
    margin-right: 22px; 
}
.element:hover{
  color:rgb(72, 168, 247);
  /* color:rgb(42, 128, 226); */
  text-decoration:none;    
  }
.account {
  position: fixed; 
  right: 60px;
  margin-top: 19px;
  font-size: 18px;
  height: 80px;
  cursor: pointer;
}
.logo{
  background-image: url('../Images/logo_scritta.jpeg');
  background-size: contain;
  position: fixed;
  left: 10px;
  height: 75px;
  width: 75px;
  border-radius: 10px;
  top: 3px;
  left: 3px;
}
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: black;
}
.dropdown-content a {            
    text-decoration: none;
    display: block;
    background-color: rgb(42, 128, 226);
    color: white;
}
.account:hover .dropdown-content {
    display: block;
}
a {
  font-weight: bolder;
  color: royalblue;
  text-decoration: none;
  padding: 2px;
  padding-top: 0px;
  padding-bottom: 0px;
  word-wrap: normal;
  display: inline-block;
  background-size: 16px 16px;
  padding-right: 19px;
}

a::after {
  position: absolute;
  bottom: .3em;
  left: 0;
  content: '';
  width: 100%;
  background-color: green;
  opacity: 0;
  transition: .3s;
}

a:hover::after {
  bottom: 0;
  opacity: 1;
  color:rgb(72, 168, 247);
}

a:hover {
  color: rgb(72, 168, 247);
}

.edit {
    background-color:whitesmoke;
    opacity: 0.8;        
    height: fit-content;
    width: 500px;        
    position: relative;
    left: 34%;
    top: 160px;
    text-align: center;
    font-family: "Avenir", sans-serif;
    font-size: 18px;
    border-radius: 10px;
}

.bottom {
    position: absolute;
    bottom: 100px;
    left: 42%;
}
.edit h2, .delete h2 {
    font-family: "Avenir", sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0 0 45px rgba(0,0,0,.7);   
 }
.edit input[type="password"],
.edit input[type="text"],
.edit input[type="email"],
.edit select{
    font-family: "Avenir", sans-serif;
    background: rgba(255,255,255,.1);
    border-top: none;
    border-left: none;
    border-right: none;
}
.field label{
  font-family: "Avenir", sans-serif; 
} 
input[type="submit"], input[type="delete"]{
    font-size: 18px;
    text-align: center;
    width: fit-content;
    position: relative;
    color: white;
    text-decoration: none;
    text-shadow: -1px -1px #000;
    user-select: none;
    padding: .8em 2em;
    outline: none;
    background-color: #000;
    background-image: linear-gradient(45deg, rgb(64, 146, 240) 30%, rgba(48, 119, 185, 0.8), rgba(19, 119, 185, 0.856) 70%), radial-gradient(190% 100% at 50% 0%, rgb(72, 168, 247) 0%, rgba(72, 168, 247, 0.5) 50%,#04001b  50%);
    background-repeat: no-repeat;
    background-size: 200% 100%, auto;
    background-position: 200% 0, 0 0;
    box-shadow: rgba(57, 206, 226, 0.3) 0 2px 5px;
    border-radius: 10px;
}
input[type="submit"], input[type="delete"]:active {
    top: 1px;
    box-shadow: none;
}
input[type="submit"]:hover, input[type="delete"]:hover {
    transition: .5s linear;
    background-position: -200% 0, 0 0;
}
.delete {
  background-color:whitesmoke;
  opacity: 0.8;        
  height: fit-content;
  width: 300px;        
  position: absolute;
  left: 75%;
  top: 178px;
  text-align: center;
  font-family: "Avenir", sans-serif;
  font-size: 18px;
  border-radius: 10px;
}


.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #04001b;
  color: white;
  text-align: center;
} 

/*social*/
.social_sez {
    width: 15%;
    height: 80px;
    float: right;
    right:15%;
    text-align: center;
  }

.social_sez h5{
    font-family: "Avenir", sans-serif;
    font-size: smaller;
    color: white;  
    text-align: center;
}
.fa {
  padding: 10px; /*grandezza cerchio */
  font-size: smaller;
  width: 10px;
  height: 10px;
  text-align: center;  /*top*/
  text-decoration: none;
  margin: 5px 2px 0 0;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  height: 35px;
  width: 35px;
}
.fa-instagram {
  background: #125688;
  color: white;
  height: 35px;
  width: 35px;
}
.fa-youtube-play {
  background: #bb0000;
  color: white;
  height: 35px;
  width: 35px;
}
.logo_sez {
    width: 35%;
    height: 120px;
    float: left;
    position: relative;
    top: 15px;
  }
#foto_logo_sez {
  width: 45%;
  height: 50px;
  margin: 2%;
}

.footer_element{
    color:white;
    text-decoration:none; 
    font-family: "Avenir", sans-serif;
    font-weight: normal;
    font-size: smaller;
}
.developers{
    position: absolute;
    width: 300px;
    text-align: center;
    margin-left: 5%;
}

.footer_element:hover{
    color:rgb(72, 168, 247);
    text-decoration:none;  
}  
  