body{
    background-image: url("../Images/login_foto.jpg");
    background-size: 100%;
    background-repeat: no-repeat; 
    background-attachment: block;
} 
.w3-bar {
    text-align: center;
    background-color:#04001b;
    margin-top: 0px;;
    width: 100%;
    height: 80px;
    position: fixed;
    font-size: 18px;
}

.logo{
    background-image: url('../Images/logo_scritta.jpeg');
    background-size: contain;
    position: fixed;
    left: 10px;
    height: 75px;
    width: 75px;
    border-radius: 10px;
    top: 3px;
    left: 3px;
    cursor: pointer;
}
 
.footer {
    font-family: "Avenir",sans-serif;
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    background-color: #04001b;
    color: white;
    text-align: center;
    font-size: 18px; 
    text-align: center;
    font-weight: normal;
}

.footer_element{
    font-weight: normal;
    text-align: center;
    color:white;
    text-decoration:none; 
    margin-bottom: 30px;
    font-size: 18px;
    /* margin-right: 100px; */
}

.footer_element:hover{
    color:rgb(72, 168, 247);
    text-decoration:none;  
} 

.social_sez h5{
  font-family: "Avenir", sans-serif;
}
.social_sez {
  font-family: "Avenir", sans-serif;
  width: 25%;
  height: 150px;
  float: right;
}

.fa {
  padding: 10px; /*grandezza cerchio */
  font-size: 40px;
  width: 20px;
  height: 20px;
  text-align: center;  /*top*/
  text-decoration: none;
  margin: 5px 2px 0 0;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  height: 40px;
  width: 40px;
}
.fa-instagram {
  background: #125688;
  color: white;
  height: 40px;
  width: 40px;
}
.fa-youtube-play {
  background: #bb0000;
  color: white;
  height: 40px;
  width: 40px;
}

.logo_sez {
  width: 35%;
  height: 155px;
  float: left;
  position: relative;
  top: 15px;
}
#foto_logo_sez {
  width: 60%;
  height: 70px;
  margin: 2%;
  width: 60%;
}

h5 {
  font-size: 18px;
  color: white;
}

.developers {
    position: relative;
    text-align: center;
    right: 4.5%;
    margin-top:1%;
}

.login{
    background-color: whitesmoke;
    opacity: 0.9;
    height: fit-content;
    width: 500px;
    border-radius: 10px;
    position: relative;
    left: 33%;
    top: 110px;
    text-align: center;
    font-family: "Avenir", sans-serif;
    font-size: 18px;
}

.login .text1 {
    font-family: "Avenir", sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 0 0 45px rgba(0,0,0,.7);   
 }

a {
    font-weight: bolder;
    color: royalblue;
    text-decoration: none;
    padding: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    word-wrap: normal;
    display: inline-block;
    background-size: 16px 16px;
    padding-right: 19px;
}

a::after {
    position: absolute;
    bottom: .3em;
    left: 0;
    content: '';
    width: 100%;
    background-color: green;
    opacity: 0;
    transition: .3s;
  }
  
  a:hover::after {
    bottom: 0;
    opacity: 1;
    color:rgb(72, 168, 247);
  }
  
  a:hover {
    color: rgb(72, 168, 247);
  }

 .login input[type="email"],
 .login input[type="password"]{
     font-family: "Avenir", sans-serif;
     background: rgba(255,255,255,.1);
     border-top: none;
     border-left: none;
     border-right: none;
 } 
 .login input[type="submit"]{
    font-size: 18px;
    text-align: center;
    width: 180px;
    position: relative;
    color: white;
    text-decoration: none;
    text-shadow: -1px -1px #000;
    user-select: none;
    padding: .8em 2em;
    outline: none;
    background-color: #000;
    background-image: linear-gradient(45deg, rgb(64, 146, 240) 30%, rgba(48, 119, 185, 0.8), rgba(19, 119, 185, 0.856) 70%), radial-gradient(190% 100% at 50% 0%, rgb(72, 168, 247) 0%, rgba(72, 168, 247, 0.5) 50%,#04001b  50%);
    background-repeat: no-repeat;
    background-size: 200% 100%, auto;
    background-position: 200% 0, 0 0;
    box-shadow: rgba(57, 206, 226, 0.3) 0 2px 5px;
    border-radius: 10px;
}
.login input[type="submit"]:active {
    top: 1px;
    box-shadow: none;
}
.login input[type="submit"]:hover {
    transition: .5s linear;
    background-position: -200% 0, 0 0;
}

 .noaccount {
     font-weight: bold;
 }
  